@model MedicalApparatusManage.Models.T_BJDateModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" language="javascript">
        function Save() {
            var elements = document.forms['formBjqx'];
            var bl = validateCallback(elements);
            if (bl) {
                //var arrResult = [];
                //arrResult.push({
                //    "BJCode": $("#YYZHBJCode").val(),
                //    "BJDATE": $("#YYZHAlarmValue").val()
                //});
                //arrResult.push({
                //    "BJCode": $("#SCXKZBJCode").val(),
                //    "BJDATE": $("#SCXKZAlarmValue").val()
                //});
                //arrResult.push({
                //    "BJCode": $("#JYXKZBJCode").val(),
                //    "BJDATE": $("#JYXKZAlarmValue").val()
                //});
                //arrResult.push({
                //    "BJCode": $("#CPZCZBJCode").val(),
                //    "BJDATE": $("#CPZCZAlarmValue").val()
                //});
                //arrResult.push({
                //    "BJCode": $("#SQSBJCode").val(),
                //    "BJDATE": $("#SQSAlarmValue").val()
                //});
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_BJDate/Save",
                    data: arrResult,   //$("#formBjqx").serializeArray(),
                    success: function (data) {
                        if (data.statusCode == "200") {
                            alertMsg.correct('保存成功！');
                        }
                    }
                });
            }
        };
    </script>

</head>
<body>
    <div id="pageContent">
        <div class="pageHeader" style="hight: 80px;">
            <div class="searchBar">
                <form id="formBjqx" method="post" onsubmit="return false;" class="pageForm required-validate-noalert">
                    <table class="searchContent">
                        @*<tr>
                                <td>
                                    营业执照预警期限(天):
                                </td>
                                <td>
                                    <input type="hidden" name="YYZHBJCode" value="1001" />
                                    @Html.TextBoxFor(m => m.YYZHAlarmValue, new { Name = "BJDATE", style = "width:264px", @class = "required textInput digits" })
                                </td>
                            <tr>*@
                        <tr>
                            <td colspan="2" style="margin-left: 200px; margin-top: 20px;">
                                <ul>
                                    <li>
                                        <div class="buttonActive">
                                            <div class="buttonContent">
                                                <button onclick="Save();">
                                                    保存
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
