@model MedicalApparatusManage.Models.T_BJDateModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" language="javascript">
        function Save() {
            var elements = document.forms['formBjqx'];
            var bl = validateCallback(elements);
            if (bl) {
                var arrResult = [];
                var dls = $(".pageFormContent").find("dl");
                $.each(dls, function (i, item) {
                    arrResult.push({
                        ID: $(item).find(".BJID").first().val(),
                        BJDATE: $(item).find(".BJDATE").first().val()
                    });
                });
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_BJDate/SaveNew",
                    data: JSON.stringify(arrResult),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.statusCode == "200") {
                            alertMsg.correct('保存成功！');
                        }
                    }
                });
            }
        };
    </script>

</head>
<body>
    <div id="pageContent">
        <form id="formBjqx" method="post" onsubmit="return false;" class="pageForm required-validate-noalert">
            <div class="pageFormContent nowrap" layouth="58">
                @foreach (var item in Model.DataList)
                {
                    <dl>
                        <dt style="width:150px;">
                            @Html.Label("BJCodeDesc", item.BJCodeDesc + "预警期限(天):", new { style = "width:140px" })
                        </dt>
                        <dd>
                            @Html.Hidden("ID", item.ID, new { @class = "BJID" })
                            @Html.TextBox("BJDATE" + item.BJCode, item.BJDATE, new { Name = "BJDATE" + item.BJCode, @class = " textInput digits BJDATE" })
                        </dd>
                    </dl>
                }
                <dl>
                    <dd colspan="2" style="margin-left: 150px; margin-top: 20px;">
                        <ul>
                            <li>
                                <div class="buttonActive">
                                    <div class="buttonContent">
                                        <button onclick="Save();">
                                            保存
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </form>
    </div>
</body>
</html>
