@model MedicalApparatusManage.Models.T_RKDModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <script type="text/javascript" language="javascript">
        function ExportRkd() {
            document.location.href = "/T_RKD/ExportExcel/" + $("#RkidMain").val();
        };
        function prirkd() {
            //$("#printrkd").jqprint();
            var defaultstyle = "../../Content/css/stylepage.css";
            $("#printrkd").print({
                iframe: true, mediaPrint: false, stylesheet: defaultstyle
            });
        }
        function disCol(e) {
            if (e.checked == true) {
                $('table tr').find('td:eq(6)').hide();
                $('table tr').find('td:eq(7)').hide();
            }
            else {
                $('table tr').find('td:eq(6)').show();
                $('table tr').find('td:eq(7)').show();
            }
        }
    </script>
    <style>
        table tr td {
            font-family: 宋体;
        }
    </style>
</head>
<body>
    <input type="checkbox" onclick="disCol(this)" value="隐藏" />隐藏单价/金额
    <div>
        <div id="printrkd" style="margin:15px;margin-left:12px;">@Html.Raw(ViewData["ParaStr"].ToString())</div>
    </div>
    <div class="pageContent" style="position: absolute;bottom: 5px;">
        @Html.HiddenFor(m => m.DataModel.RKID, new { ID = "RkidMain", Name = "DataModel.RKID" })
        <div class="formBar">
            <ul>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button value="导出入库单" onclick="ExportRkd();">
                                导出入库单
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button value="打印入库单" onclick="prirkd();">
                                打印入库单
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button value="关闭" class="close">
                                关闭
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
