*
{
    font-size: 12px;
}
a
{
    text-decoration: none;
}
img
{
    border-style: none;
}
body
{
}
.map
{
    position: absolute;
    width: 99%;
    height: 100%;
    top: 0px;
}
/*
.maptools
{
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 10;
    width: 99%;
    height: 26px;
    background-color: #E3EFFF;
}
*/
.maptools
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 99%;
    height: 26px;
}
.slider
{
    clear:left;
    z-index: 11;
    width: 325px;
    left: 5px;
    margin-top: 30px;
    height:20px;
}
.amount
{
    z-index: 11;
    width: 40px;
    float: left;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.iamount
{
    z-index: 11;
    width: 40px;
    border: 0;
    color: #f6931f;
    font-weight: bold;
    float: left;
    margin-top: 7px;
}
.themetype
{
    z-index: 11;
    width: 90px;
    border: 0;
    color: #f6931f;
    font-weight: bold;
    float: left;
    margin-top: 7px;
}
ul
{
    list-style: none;
}
.bg_l
{
    width: 540px;
    height: 30px;
    background: url(../images/bg_l.png) left center no-repeat;
    margin-top: 5px;
}
.bg_r
{
    height: 30px;
    background: url(../images/bg_r.png) right center no-repeat;
}
.nav
{
    margin: 0 19px;
    height: 100%;
    background: url(../images/bg_nav.png) center center repeat-x;
}
.nav ul li
{
    float: left;
    background: url(../images/bg_li.png) right center no-repeat;
}
.nav ul li.no_bg
{
    background: none;
}
.nav ul li a
{
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #444;
}
.nav ul li a:hover, .nav ul li a.current
{
    color: #b00000;
    background: url(../images/bg_a_current.jpg) center center no-repeat;
}
.bg_openNav
{
    width: 60px;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
}

.alert
{
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert, .alert h6
{
    color: #c09853;
}
.alert h4
{
    margin: 0;
}
.alert .close
{
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}
.alert-success
{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success h6
{
    color: #468847;
}
.alert-danger, .alert-error
{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alert-danger h4, .alert-error h6
{
    color: #b94a48;
}
.alert-info
{
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info h6
{
    color: #3a87ad;
}
.alert-block
{
    padding-top: 14px;
    padding-bottom: 14px;
}
.alert-block > p, .alert-block > ul
{
    margin-bottom: 0;
}
.alert-block p + p
{
    margin-top: 5px;
}
.close
{
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.close:hover
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    filter: alpha(opacity=40);
}
button.close
{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

/*弹出气泡样式*/
.mypoptable  
{
    width:260px;
    padding: 0; 
    margin: 0; 
} 

.mypoptabletdlefttop { 
    border: 1px solid #C1DAD7;
    background: #fff; 
    font-size:11px; 
    padding: 6px 6px 6px 12px; 
    color: #4f6b72; 
}
.mypoptabletdleftmiddle { 
    border-left: 1px solid #C1DAD7; 
    border-right: 1px solid #C1DAD7; 
    border-bottom: 1px solid #C1DAD7; 
    background: #fff; 
    font-size:11px; 
    padding: 6px 6px 6px 12px; 
    color: #4f6b72; 
}
.mypoptabletdmiddletop { 
    border-top: 1px solid #C1DAD7; 
    border-right: 1px solid #C1DAD7; 
    border-bottom: 1px solid #C1DAD7; 
    background: #fff; 
    font-size:11px; 
    padding: 6px 6px 6px 12px; 
    color: #4f6b72; 
}
.mypoptable tr td { 
    border-right: 1px solid #C1DAD7; 
    border-bottom: 1px solid #C1DAD7; 
    background: #fff; 
    font-size:11px; 
    padding: 6px 6px 6px 12px; 
    color: #4f6b72; 
}