@model MedicalApparatusManage.Models.T_SHDModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <script type="text/javascript" language="javascript">
        function ExportCkd() {
            document.location.href = "/T_SHD/ExportExcel/" + $("#shidMain").val();
        };
        function prickd() {
            //$("#printckd").jqprint();
            var defaultstyle = "../../Content/css/stylepage.css";
            $("#printshd").print({
                iframe: true, mediaPrint: false, stylesheet: defaultstyle
            });
        }
        function disCol(e) {
            if (e.checked == true) {
                $('table tr').find('td:eq(7)').hide();
                $('table tr').find('td:eq(8)').hide();
            }
            else {
                $('table tr').find('td:eq(7)').show();
                $('table tr').find('td:eq(8)').show();
            }
        }
    </script>
    <style>
        table tr td {
            font-family: 宋体;
        }
    </style>
</head>
<body>
    <input type="checkbox" onclick="disCol(this)" value="隐藏" />隐藏单价/金额
    <div>
        <div id="printshd" style="margin:15px;margin-left:12px;">@Html.Raw(ViewData["ParaStr"].ToString())</div>
    </div>
    <div class="pageContent" style="position: absolute;bottom: 5px;">
        @Html.HiddenFor(m => m.DataModel.SHID, new { ID = "shidMain", Name = "DataModel.SHID" })
        <div class="formBar">
            <ul>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button value="导出损耗单" onclick="ExportCkd();">
                                导出损耗单
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button value="打印损耗单" onclick="prickd();">
                                打印损耗单
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button value="关闭" class="close">
                                关闭
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
